<div class="container" >
    <a class="btn btn-danger" [routerLink]="['/detalles/',idSerie]">Volver</a>
    <table class="table table-bordered" style="display: table;margin: 0 auto;width: 70%;">
        <thead>
            <tr>
                <th>Personaje</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let personaje of personajes">
                <td>{{personaje.nombre}}</td>
                <td><img src="{{personaje.imagen}}" style="width: 300px;height: 300px;"></td>
            </tr>
        </tbody>
    </table>
</div>
