<h1>Departamentos</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Nombre</th>
            <th>Localidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let departamento of departamentos">
            <td>{{departamento.numero}}</td>
            <td>{{departamento.nombre}}</td>
            <td>{{departamento.localidad}}</td>
            <td><a class="btn btn-warning"
                    [routerLink]="['/editar/',departamento.numero,departamento.nombre,departamento.localidad]">Modificar</a>
            </td>
            <td><a class="btn btn-info" [routerLink]="['/empleados',departamento.numero]">Empleados</a>
            </td>
            <td><a class="btn btn-danger" (click)="eliminarDepartamento(departamento.numero)">Eliminar(Metodo)</a>
            </td>
        </tr>
    </tbody>
</table>